$def with(pid, cid, comment)

$:render.plugins.nav()

<div id="results">
  <div style="padding: 10px;">
    <div style="padding: 20px 0px;";>
      <div style="color: #888">
	<a href="/users/$comment['username']">$comment['username']</a> $time(comment['time']) | <a href="/item?pid=$(pid)&comment=$(cid)">link</a>
      </div>
      <div style="margin-left: 10px;">
	$comment['comment']
      </div>
      $if comment['username'] == session['uname']:
        <div>
	  <a class="reply" href="/item?pid=$(pid)&cid=$cid&opt=edit">edit</a>
	  <a class="reply" href="/item?pid=$(pid)&cid=$cid&opt=delete">delete</a>
	</div>
    </div>
    <form method="POST" action="/item?pid=$pid">
      <textarea name="comment"></textarea>
      <div>
	<input type="submit" value="add comment"/>
      </div>
    </form>
  </div>
</div>
