$def with()

    <header style="position: fixed; z-index: 999; width: 100%;">
      <h1 id="logo"><a href="/">Open Journal</a></h1>
      <div style="width: 0px; display: inline; border-right: 1px solid #f9f9f9;
		  border-left: 1px solid #ccc; float: left; height: 50px;"></div>
      <form method="post" action="/search" id="searchbar">
	<input type="text" name="search" style="width: 400px;"
	       placeholder="Search" />
	<input id="searchsubmit" type="submit" class="btn"/>
      </form>
      <span style="float: right; padding-right: 25px; margin-top: 15px; margin-left: 25px;">
	$if session.logged:
	  <a style="color: #333; text-decoration: none;"
	     href="/users/$(session.uname)">
	    <img height="20" src="/static/imgs/glider-avatar.png" class="rounded" width="20">
	    $session.uname ($karma())
	  </a>
	  | <a href="/logout">logout</a>
	$else:
	  <a href="/login">login</a> or <a href="/register">register</a>
      </span>
      <div style="clear: both;"></div>
    </header>
    <div id="spacer"></div>




