$def with()

    <header>
      <h1 id="logo"><a href="/">Open Journal</a></h1>
      <div class="searcharea"></div>
      <form method="GET" action="/search" id="searchbar">
	<input type="text" name="search" id="search"
	       placeholder="Search" />
	<input id="searchsubmit" type="submit"
	       class="btn" value="search"/>
      </form>
      <span class="nav-options">
	$if session.logged:
	  <a class="nav-usr" href="/users/$(session.uname)">
	    <img height="20" src="/static/imgs/glider-avatar.png"
		 class="rounded" width="20">
	    $session.uname ($karma())
	  </a>
	  | <a href="/logout">logout</a>
	$else:
	  <a href="/login">login</a> or <a href="/register">register</a>
      </span>
      <div class="clearfix"></div>
    </header>
    <div id="spacer"></div>




