$def with (papers, page=1, msg="")

$:render.plugins.nav()

<ol id="results">
  <div style="margin: 0px; margin-bottom: 0px; padding: 10px;
	      border: 1px solid: #ccc; ">
    Searching for: 
    <span class="label" style="background-color: #def; padding: 5px;
			       margin-right: 5px; border: 1px solid #cde;">
      <a href="#">search coming soon <span class="justify-icons rmv" data-icon="&#x21f7;"></span></a>
    </span>
  </div>
  <hr/>

  $for paper in papers[:30]:
    <li class="result">
      $if not session.logged:
        <a style="text-decoration: none; position: relative; top: 1px; color: #999;"
	   href="#" title="Login to Vote" onclick="if(confirm('Login to Vote') === true) {window.location = '/login';};">&#9640</a>
      $else:
        <a style="text-decoration: none; position: relative; top: 3px; color: #999;" href="/upvote?pid=$(loop.index - 1)">&#9650</a>
      <strong><a style="font-size: 15px; position: relative; top: 3px;" href="$paper['url']">$paper['title']</a></strong>
      $#<a class="btn-mini" href="#">Follow</a>
      $#abstract
      <p style="margin-left: 20px;">
	$paper['votes'] $('point' if paper['votes'] == 1 else 'points') by <a href="/users/mek">mek</a> $time(paper['time'])
	| <a href="/item?pid=$(loop.index - 1)">$('%s comments' % len(paper["comments"]) if len(paper["comments"]) else 'discuss')</a>

      </p>
      <ul class="authors">
	$for author in paper['authors']:
	  $if not loop.last:
  	    <li style="display: inline; color: #666;">$author['name'], <i>$author['institution']</i></li>;
	  $else:
  	    <li style="display: inline; color: #666;">$author['name'], <i>$author['institution']</i></li>
      </ul>
    </li>
</ol>

$if msg:
  $:msg
