$def with(pid, paper)

$:render.plugins.nav()

<div id="results">
  <div style="padding: 10px;">
    <h3><a href="$paper['url']">$paper['title']</a></h3>
    <p style="color: #666;">Submitted by <a href="/users/$(paper['submitter'])">$paper['submitter']</a> $time(paper['time'])</p>
    $for comment in paper['comments']:
      <div style="padding: 20px 0px;";>
        <div style="color: #888">
	  <a href="/users/$comment['username']">$comment['username']</a>
	  $time(comment['time']) | <a href="/item?pid=$(pid)&comment=$(loop.index - 1)">link</a>
	</div>
	<div style="margin-left: 10px;">
	  $(comment['comment'])
	  <div>
	    <a style="color: #000; text-decoration: underline;" href="/item?pid=$(pid)&comment=$(loop.index - 1)">reply</a>
	  </div>
	</div>
      </div>
    $if session.logged:
      <form method="POST" action="/item?pid=$pid">
	<textarea name="comment"></textarea>
	<div>
	  <input type="submit" value="add comment"/>
	</div>
      </form>
    $else:
      <a href="/login">login</a> or <a href="/register">register</a> to comment.
  </div>
</div>
