$def with(pid, paper)

$var css: /static/css/item.css

$:render.plugins.nav()

<div id="results">
  <div style="padding: 10px;">
    <h3><a href="$paper['url']">$paper['title']</a></h3>
    <p class="item-submitter">Submitted by <a href="/users/$(paper['submitter'])">$paper['submitter']</a> $time(paper['time'])</p>
    $for comment in paper['comments']:
      <div class="comment">
        <div class="comment-meta">
	  <a href="/users/$comment['username']">$comment['username']</a>
	  $time(comment['time']) | <a href="/item?pid=$(pid)&comment=$(loop.index - 1)">link</a>
	</div>
	<div class="comment-body">
	  $(comment['comment'])
	  <div>
	    <a class="reply" href="/item?pid=$(pid)&comment=$(loop.index - 1)">reply</a>
	  </div>
	</div>
      </div>
    $if session.logged:
      <form method="POST" action="/item?pid=$pid">
	<textarea name="comment"></textarea>
	<div>
	  <input type="submit" value="add comment"/>
	</div>
      </form>
    $else:
      <a href="/login">login</a> or <a href="/register">register</a> to comment.
  </div>
</div>
