$def with (paper, sort="popular")


      $if not session.logged or voted(paper['pid']):
        <a class="votebox-inactive" href="#"   
	   $if not session.logged:
	     title="Login to Vote" onclick="if(confirm('Login to Vote') === true) {window.location = '/login?redir=/upvote?pid=$(paper['pid'])&sort=$sort';};">
	   $else:
	     title="$(session.uname), you already upvoted this">
	   &#9640</a>	   
      $else:
        <a class="votebox" href="/upvote?pid=$(paper['pid'])&sort=$sort">&#9650</a>
      <strong><a class="result-title" href="$paper['url']">$paper['title']</a></strong>
      <p class="result-meta">
	$paper['votes'] $('point' if paper['votes'] == 1 else 'points') by <a href="/users/$(paper['submitter'])">$(paper['submitter'])</a> $time(paper['time'])
	| <a href="/item?pid=$(paper['pid'])">$('%s comments' % len([p for p in paper["comments"] if p['enabled']]) if len([p for p in paper["comments"] if p['enabled']]) else 'discuss')</a>
      </p>
      <ul class="authors">
	$for author in paper['authors']:
	  $if not loop.last:
  	    <li class="result-sources">$author['name'], <i>$author['institution']</i></li>;
	  $else:
  	    <li class="result-sources">$author['name'], <i>$author['institution']</i></li>
      </ul>
