$def with()

Academic Journal Webites
http://en.wikipedia.org/wiki/List_of_academic_databases_and_search_engines
http://jeffhuang.com/best_paper_awards.html
http://academia.edu
http://arxiv.org/
http://www.mendeley.com/
http://www.e-journals.org/
http://www.doaj.org/
http://online.sagepub.com/1
http://www.studentpulse.com/
http://www.questia.com/library/academic-journal-articles
http://highwire.stanford.edu/lists/freeart.dtl
http://journalseek.net
http://comjnl.oxfordjournals.org/content/54/10/1675.full.pdf+html

citing references:
http://www.citeulike.org/
http://www.bibsonomy.org/
